@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.body {
  margin: 1rem 4rem;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #f5f5f5;
  padding: 2rem 2rem;
  border-radius: 2rem;
  position: fixed;
  top: 1rem;
  right: 0;
  left: 0;
  margin: 0 4rem;
  z-index: 100;
}

.logo {
  color: #333;
  display: flex;
  gap: 10px;
}

.nav-link {
  display: flex;
  gap: 2rem;
}

.nav-link p {
  font-weight: 400;
  font-size: 1rem;
}

nav button {
  background-color: rgba(238, 111, 0, 1);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

nav button:hover {
  background-color: rgba(238, 111, 0, 0.8);
}

nav .menu-icon {
  display: none;
}

.nav-items {
  display: none;
}   

/* hero */
.hero {
  display: flex;
  align-items: center;
  min-height: 90vh;
  background-image: url("./images/Heroimage.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 10rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 60%;
}

.hero-text h1 {
  font-size: 5.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  opacity: 0;
  transform: translateY(30px); /* Start position, slightly down */
  animation: fadeInUp 1s ease-out 0.5s forwards; /* Animation settings */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Start from a lower position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

.hero-text p {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 0;
  transform: translateY(60px); /* Start position, slightly down */
  animation: fadeInUp 1s ease-out 1s forwards;
}

.hero button {
  background-color: rgba(238, 111, 0, 1);
  color: white;
  padding: 1rem 2.5rem;
  border: none;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.hero button:hover {
  background-color: transparent;
  border: 1px solid rgba(238, 111, 0, 1);
}

/* Meet-section */

.Meet-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.Meet-section h2 {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(12, 12, 12, 1);
}

.Meet-section p {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(12, 12, 12, 1);
  text-align: center;
}

.Meet-section button {
  background-color: rgba(238, 111, 0, 1);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}

.Meet-section button:hover {
  background-color: rgba(238, 111, 0, 0.8);
}

/*news-section */

.news-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1.5rem;
}

.news-section h2 {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(12, 12, 12, 1);
  text-align: center;
}

.news-one {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.news-image {
  width: 49%;
}

.news-image img {
  width: 100%;
  border-radius: 2rem;
}

.news-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 49%;
}

.news-text h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(12, 12, 12, 1);
  line-height: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.news-text h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(12, 12, 12, 1);
}

.news-text p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
}

.more {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.more p {
  font-size: 1.25rem;
}

.news-two {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
}

.news-three {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* Project */

.project-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1.5rem;
  background: linear-gradient(180deg, #e87d00 50%, #824600 100%);
  padding: 2rem 5rem 4rem;
  border-radius: 2rem;
}

.project-section h2 {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.project-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 45%;
}

.project-text h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7rem;
  color: rgba(255, 255, 255, 1);
}

.project-text h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: rgba(255, 255, 255, 1);
}

.project-text p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.project-text button {
  margin-top: 1rem;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  color: #e87d00;
  font-size: 1.25rem;
  cursor: pointer;
}

.project-text button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.mobile-projectImage {
  display: none;
}

.project-image {
  width: 55%;
}

.project-image img {
  width: 100%;
}

/* Blog Section */

.blog-section {
  margin: 3rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog-section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(12, 12, 12, 1);
  text-align: center;
}

.blog-top,
.blog-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-left:hover, .blog-right:hover {
  transform: scale(1.05);
  /* transition: transform 0.5s; */
  transition: all 0.3s ease;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1.8rem;
}


    



.blog-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-text {
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(12, 12, 12, 1);
}

.blog-text p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
}

.blog-text .more p {
  font-size: 1.25rem;
  color: rgba(12, 12, 12, 1);
}

.blog-image {
  width: 100%;
}

.blog-image img {
  width: 100%;
}

/* reach section */

.reach-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(7, 5, 2, 1);
  padding: 2rem 6rem 4rem;
  border-radius: 3.2rem;
}

.reach-section h1 {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #ffffff 50%, #999999 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}

.reach-section p {
  font-size: 1rem;
  font-weight: 400;
  background: linear-gradient(180deg, #ffffff 50%, #999999 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 2rem;
}

.reach-image {
  width: 100%;
}

.reach-image img {
  width: 100%;
}

.reach-button {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 0.6rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 0.8rem;
  border-radius: 1rem;
}

.reach-button p {
  margin-bottom: 0;
}

/* Impact Section */

.impact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
  min-height: 100vh;
  background-image: url("./images/impact.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.impact-section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.impact-section p {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.impact-section .button {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: rgba(238, 111, 0, 1);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}

.impact-section .button:hover {
  background-color: rgba(238, 111, 0, 0.8);
}

/* Partner-section */

.partner-section {
  margin: 3rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.partner-section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(12, 12, 12, 1);
  text-align: center;
}

.partner-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.partner-image {
  width: 100%;
  flex: 0 0 auto;
  /* padding: 10px; */
}

.partner-image img {
  width: 50%;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  min-height: 8vh;
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.footer-left h1 {
  font-size: 3rem;
  font-weight: 400;
  color: rgba(12, 12, 12, 1);
  margin-bottom: 2rem;
}

footer input {
  padding: 1rem 1.2rem;
  border-radius: 3.13rem;
  border: none;
  width: 17rem;
  background-color: rgba(231, 231, 231, 1);
}

::placeholder {
  color: rgba(85, 84, 84, 1);
  font-size: 1rem;
  font-weight: 400;
}

footer button {
  background-color: rgba(238, 111, 0, 1);
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 3.12rem;
  cursor: pointer;
  font-size: 1rem;
}

.footer-right {
  display: flex;
  gap: 4rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-links h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 1rem;
}

.footer-links p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(85, 84, 84, 1);
}

hr {
  border: 1px solid rgba(231, 231, 231, 1);
  width: 100%;
  margin-bottom: 2rem;
}

.footer-bottom p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(85, 84, 84, 1);
  text-align: center;
}

/* Responsive */

@media screen and (max-width: 900px) {
  .body {
    margin: 0;
  }

  nav {
    padding: 1.5rem;
    /* width: 100%; */
    margin: 0rem;
    /* position: relative; */
    z-index: 100;
  }

  .nav-link {
    display: none;
  }

  nav div:nth-child(3) {
    display: none;
  }

  nav .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-items {
    list-style: none;
    margin: 0;
    padding-top: 4rem;
    padding-left: 1rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    top: 7rem;
    right: 0;
    left: 0;
    background-color: #D4D5D7;
    width: 100%;
    height: 50vh;
    border-radius: 8px;
    z-index: 3;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Disable pointer events when hidden */
    transform: translateY(-20px); /* Slight upward movement for effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for smooth effect */

    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); */
  }

  .nav-items.open {
    display: flex;
    opacity: 1; /* Fully visible */
    pointer-events: auto; /* Enable pointer events */
    transform: translateY(0); /* Reset position */
  }

  



  /* .nav-items li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  } */

 .nav-items p {
    font-size: 1rem;
  }

  .nav-items button {
    background-color: rgba(238, 111, 0, 1);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.25rem;
  }

  .content.blurred {
    filter: blur(8px);
    transition: filter 0.3s ease-in-out;
  }
  
  /* Optional: Disable scrolling when the menu is open */
  body.menu-open {
    overflow: hidden;
  }

  

  /* hero */

  .hero {
    padding: 2rem 1rem;
    border-radius: 0;
    margin-top: 8.5rem;
  }

  .hero-text {
    width: 100%;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  /*  Meet-section*/

  .Meet-section {
    padding: 0 1rem;
  }

  .Meet-section h2 {
    font-size: 2rem;
  }

  .Meet-section p {
    font-size: 1.25rem;
  }

  .Meet-section button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  /* news-section */

  .news-section {
    padding: 0 1rem;
  }

  .news-section h2 {
    font-size: 2rem;
  }

  .news-one {
    flex-direction: column;
  }

  .news-image {
    width: 100%;
  }

  .news-text {
    width: 100%;
    padding: 0 1rem;
    gap: 1rem;
  }

  .news-text h3 {
    font-size: 1.9rem;
  }

  .news-two {
    flex-direction: column;
  }

  .news-three {
    flex-direction: column;
  }

  /* Project */

  .project-section {
    padding: 2rem 1rem;
    border-radius: 0;
  }

  .project-section h2 {
    font-size: 2rem;
  }

  .project-container {
    flex-direction: column;
  }

  .project-text {
    width: 100%;
    gap: 1rem;
  }

  .project-text h4 {
    font-size: 1.2rem;
  }

  .project-text h1 {
    font-size: 2.5rem;
  }

  .project-text p {
    font-size: 1rem;
  }

  .project-text button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .mobile-projectImage {
    display: block;
    width: 100%;
  }

  .mobile-projectImage img {
    width: 100%;
  }

  .project-image {
    display: none;
  }

  /* Blog Section */

  .blog-section {
    margin: 3rem 1rem;
    gap: 2rem;
  }

  .blog-section h1 {
    font-size: 2rem;
  }

  .blog-top,
  .blog-bottom {
    flex-direction: column;
    gap: 2rem;
  }

  .blog-left,
  .blog-right {
    width: 100%;
  }

  .blog-text {
    padding: 1rem;
  }

  .blog-image img {
    border-radius: 1rem;
  }

  /* reach section */

  .reach-section {
    padding: 2rem 1rem;
    border-radius: 0;
  }

  .reach-section h1 {
    font-size: 2rem;
  }

  .reach-button {
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }

  /* Impact Section */

  .impact-section {
    min-height: 60vh;
  }

  .impact-section h1 {
    font-size: 2.3rem;
  }

  .impact-section p {
    font-size: 1.2rem;
  }

  /* Partner-section */

  .partner-section {
    margin: 3rem 1rem;
    gap: 2rem;
  }

  .partner-section h1 {
    font-size: 2rem;
  }

  /* footer */

  footer {
    flex-direction: column;
    gap: 2rem;
    margin: 0 1rem 2rem;
  }

  .footer-left div {
    display: flex;
    gap: 1rem;
  }

  .footer-left h1 {
    font-size: 2.2rem;
  }

  footer input {
    width: 16rem;
    /* padding: 0.8rem 1rem; */
  }

  .footer-links h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .footer-bottom p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}
